/*header*/
.header {
    background-color: var(--color1);
    padding-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: -3.5em;
}
.header .largePlace{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    align-items: center;
}

.logo .title {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Lovers_Quarrel';
}

.logo .img {
    width: 3em;
    height: 3em;
    min-width: 3em;
    min-height: 3em;
    margin-right: 0.5em;
}

.logo .img svg {
    width: 100%;
    height: 100%;
    fill: var(--color2);
}

/* barre de recherche */
.search {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    margin: 0.5em;
}

.search input {
    font-size: 1em;
    margin-right: 0.5em;
    min-width: 10em;
    max-width: 100%;
    max-height: 2.5em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-left: 0.5em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.search button {
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.377);
    width: 5em;
    height: 2.2em;
    min-width: 5em;
    min-height: 2.2em;
    padding: 0.2em;
}

.search button:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.search button svg {
    width: 100%;
    height: 100%;
    fill: white;
}
/* nav bar*/
.navBar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.486)); */
    padding: 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
@media screen and (max-width:500px) {
    .navBar {
        justify-content: center;
    }
}
/* le filtre */
.filtre{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-color: var(--color1-ligth);
}
 .filtre .option{
    display:flex;
    border: solid 1px var(--color2);
    padding: 0.2em;
    border-radius: 0.5em;
    margin: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    min-width: 15%;
}
.filtre .option .label{
    padding: 0.5em;
    padding-left: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.filtre .option .label .svg{
    width: 1.2em;
    height: 1.2em;
    min-width: 1.2em;
    min-height: 1.2em;
    margin-left: 0.2em;
    margin-right: 0.5em;
}
.filtre .option .label .svg svg{
    width: 100%;
    height: 100%;
    fill:var(--color1);
}
.filtre .option .select{
    flex-grow: 1;
    text-align: center;
    border:none;
    padding: 0.5em;
    background-color: white;
}

/* bouton */
.button{
    font-size: 1em;
    background-color: var(--color2);
    color:white;
    border:none;
    border-radius: 0.3em;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 2px;
    margin-right: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.button .svg{
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.button .svg svg{
    width: 100%;
    height: 100%;
    fill:white;
}
.button:hover{
    background-color: var(--color2-ligth);
    color:var(--color1);
    transition: 0.2s;
}
/*footer*/
.footer{
    width: 100%;
    background-color: var(--color1);
    min-height: 5em;
    padding: 1em;
    flex-grow: 1;
}
.header .largePlace{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* class de bouton pour aller em haut de la page*/
.btnGoToTop{
    border:none;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width:4em;
    height:4em;
    min-width:4em;
    min-height:4em;
    background-color: var(--color2);
    position:fixed;
    left:80vw;
    z-index: 100;
    top:88vh;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}
.btnGoToTop svg{
    width: 100%;
    height: 100%;
    fill:white;
}
.btnGoToTop:hover{
   transform: scale(1.05);
}
/*le path indique ou on se trouve */
.path{
    width: 100%;
    padding: 0.3em;
    padding-left: 0.5em;
    display: flex;
    background-color: var(--color1-ligth2);
    color:rgba(0, 0, 0, 0.849);
    align-items: center;
}
.path .node{
    padding: 0.2em;
    padding-left: 0.2em;
    font-size: 1.1em;
    font-weight: 100;
    border-radius: 0.5em;
    color:white;
}
.path .node.current{
    color:#1e90ff;
}
/* le body */
.body{
    width: 100%;
}
/* pagination */
.pagination{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top:1em ;
    background-color: var(--color1);
    padding: 0.2em;
    border-radius: 0.5em;
}
.pagination .numberContent{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: black;
}
.pagination .number{
    margin-left: 0.2em;
    margin-right: 0.2em;
    border: solid 1px rgba(255, 255, 255, 0.664);
    padding: 0.4em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.507);
}
.pagination .number:hover{
    background-color: var(--color2);
    color:white;
}
.pagination .number.current{
    background-color: var(--color2);
    color:white;
}
/* h1*/
.h1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.7em;
    font-weight:lighter;
    color:rgba(0, 0, 0, 0.562);
    padding: 0.5em;
    padding-top:1em;
    padding-bottom: 1em;
    background-color: rgb(236, 244, 250);
    margin-bottom: 0.5em;
    text-align: center;
    border-bottom: solid 1px var(--color2);
}
/* signale le danger*/
.warning{
    background: rgb(247, 127, 127);
    padding: 0.3em;
    color:rgba(0, 0, 0, 0.527);
    box-shadow: 3px 3px 3px rgba(241, 136, 136, 0.808);
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
}
.warning  .svg{
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    margin: 0.2em;
}
.warning .svg svg{
    width: 100%;
    height: 100%;
    fill:rgba(0, 0, 0, 0.281);
}
/* informe sur une poossibilite*/
.notice{
    background: var(--color1);
    padding: 0.3em;
    color:rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgba(136, 241, 227, 0.808);
    display: flex;
    margin: 0.3em;
    justify-content: space-between;
}
.notice  .svg{
    width: 1.3em;
    height: 1.3em;
    min-width: 1.3em;
    min-height: 1.3em;
    margin: 0.2em;
}
.notice .svg svg{
    width: 100%;
    height: 100%;
    fill:rgba(255, 255, 255, 0.678);
}