/*bandeau*/
.bandeau{
    /* background-image: url('z/www/img/gif/1.gif'); */
    background-size: 10em 10em;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    background-color: var(--color1);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    border-radius: 1.5em;
}
.bandeau .title{
    color:white;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 0.2em;
    text-align: center;
    text-shadow: 10px 10px 2px rgba(255, 255, 255, 0.5);
}
.bandeau .note{
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
@media screen and (max-width:900px) {
    .bandeau{
        border-radius: 0em;
    }
}
/* bouton */
.btn{
    background-color: var(--color1);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border:none;
    border:solid 1px rgba(255, 255, 255, 0.336);
    font-size: 1.1em;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}
.btn ::before{
    content: "";
    position: absolute;
    width:0%;
    height: 100%;
    top:0;
    left: 0;
    border-radius: 0.5em;
    background-color:var(--color2);
    transition: 1s;
}
.btn:hover ::before{
    width:100%;
}
.btn .svg{
    width: var(--dim-svg);
    height: var(--dim-svg);
    min-width: var(--dim-svg);
    min-height: var(--dim-svg);
}
.btn .svg svg{
    width: 100%;
    height: 100%;
    fill:white;
}
/*footer*/
.footer{
    width: 100%;
    min-height: 10em;
    background-color: var(--color1);
    flex-grow: 1;
    margin-top: 5em;
    padding-top: 2em;
}
.footer .signature{
    width: 100%;
    text-align: right;
    color:white;
    padding-right: 4em;
    font-size: 0.7em;
}
/* navbar */
.navbar{
    width:100%;
    background-color: white;
    display: flex;
}
.navbar .logo{
    font-weight: 800;
    font-size: 1.2em;
    padding: 1em;
}
.navbar .option{
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar .option:hover{
    background-color:rgba(0, 0, 0, 0.040) ;
}
.navbar .hidden{
    display: none;
}
.navbar .crown{
    font-size: 3em;
}
.navbar_open{
    display:none;
}
@media screen and (max-width:900px) {
    .navbar.hidden{
        left:100%;
    }
    .navbar{
        position: absolute;
        left:0%;
        flex-direction: column;
        background-color: var(--color1);
        color:white;
        padding: 1em;
        height: 100vh;
        z-index: 1000;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .navbar .logo{
        font-size: 1.8em;
        text-shadow: 5px 5px 2px rgba(255, 255, 255, 0.445);
    }
    .navbar .option{
        justify-content: flex-start;
        width: auto;
        padding: 1em;
    }
    .navbar .option:hover{
        background-color:rgba(0, 0, 0, 0.090) ;
      }
    .navbar .hidden{
        display: flex;
    }
    .navbar_open{
        display:flex;
        justify-content: flex-end;
        background-color: var(--color1);
    }
    .navbar_open_btn{
        background-color: var(--color1);
        border: none;
        font-size: 1.2em;
        padding: 0.5em;
    }
    .navbar_open_btn .svg{
        width: var(--dim-svg);
        height: var(--dim-svg);
        min-width: var(--dim-svg);
        min-height: var(--dim-svg);
    }
    .navbar_open_btn .svg svg{
        width: 100%;
        height: 100%;
        fill:white;
    }
}
