/*advantage*/
.advantage{
    margin-top: 3em;
    margin-bottom: 7em;
    padding: 1em;
    /* border: solid 1px rgba(0, 0, 0, 0.151);
    border-radius: 1em; */
}
.advantage .element{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4em;
    margin-bottom: 1em;
    top:0;
    left:0;
    border:solid 1px rgba(0, 0, 0, 0);
    transition: 0.3s;
    box-shadow: 60px 60px 5px rgba(0, 0, 0, 0.096);
}
.advantage .element:hover{
    /* box-shadow: 60px 60px 5px rgba(0, 0, 0, 0.096); */
    top:-10px;
    left:-5px;
    border:solid 1px rgba(0, 0, 0, 0.053);
    background-color: rgba(0, 0, 0, 0.018);
}
.advantage .element .title{
    font-size: 1.5em;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0.2em;
    /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308); */
}
.advantage .element .img{
    position: absolute;
    left:-0.5em;
    top:-1.8em;
    font-size: 2em;
    background-color: rgb(226, 226, 226);
    padding: 0.2em;
    /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.advantage .element .img img{
    height: 1.3em;
}
.advantage .element .text{
    padding: 1em;
}
.advantage .center{
    background-color: rgba(0, 0, 0, 0.027);
    transform: scale(1.02);
}
/*bandeau*/
.bandeau{
    /* background-image: url('z/www/img/gif/1.gif'); */
    background-image: url('z/www/img/bg/big/4.png');
    background-position: center;
    background-attachment: fixed;
    min-height: 50vh;
    /* background-color: var(--color1); */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    border-radius: 1.5em;
    position: relative;
    overflow: hidden;
}
.bandeau::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,transparent,rgba(255, 255, 255, 0.445));
}
.bandeau .title{
    color:white;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 0.2em;
    text-align: center;
    text-shadow: 10px 10px 2px rgba(255, 255, 255, 0.5);
}
.bandeau .crown{
    display: inline-block;
    box-shadow:0px 0px 10px rgba(255, 255, 255, 0.5) ;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:5px;
    width: 1.2em;
    height: 1em;
    animation: shake_bottom 3s infinite;
}
.bandeau .note{
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0.5em;
    color:white;
}
.bandeau .profile{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}
.bandeau .profile .prop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.568);
}
.bandeau .profile .prop .img{
    font-size: 4em;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bandeau .profile .prop .title{
    font-size: 1em;
    color:rgb(22, 22, 22);
    border-radius: 10px;
    margin: 3px;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 900;
    text-shadow: 0 0 0 transparent;
}
@media screen and (max-width:900px) {
    .bandeau{
        border-radius: 0;
        padding-bottom:5em ;
        padding-top: 3em;
        position: relative;
        /* background-image: url('z/www/img/bg/small/4.png'); */
        background-attachment:local;
        border-top-left-radius: 4em 1em;
        border-top-right-radius: 4em 1em;
    }
    .bandeau::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 6em;
        left: 0;
        top: 90%;
        background-color: white;
        border-top-left-radius: 4em 1em;
        border-top-right-radius: 4em 1em;
    }
    .bandeau .note{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
/* bandeau_image */
.bandeau_image{
    min-height: 20vh;
    background-image: url('z/www/img/bg/big/2.png');
    background-attachment: fixed;
    background-position: center;
    border-radius: 1em;
    /* clip-path: circle(50% at 50% 50%); */
    clip-path: polygon(26% 14%, 26% 30%, 18% 43%, 0 53%, 0 78%, 52% 100%, 100% 78%, 100% 51%, 86% 41%, 76% 31%, 75% 14%, 50% 2%);
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
}
/* .bandeau_image:hover{
    transition: 0.8s;
    clip-path: polygon(26% 1%, 25% 23%, 19% 37%, 0 53%, 0 78%, 52% 100%, 100% 78%, 100% 51%, 82% 36%, 75% 20%, 74% 1%, 50% 13%);
} */
.bandeau_image::before{
    content:'';
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    background-image: linear-gradient(180deg,transparent,rgba(255, 255, 255, 0.39));
}
@media screen and (max-width:900px) {
    .bandeau_image{
        background-image: url('z/www/img/bg/small/2.png');
        background-attachment:local;
    }
}
/*body*/
.body{
    padding-left: 4em;
    padding-right: 4em;
}

/* bouton */
.btn{
    background-color: var(--color1);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border:none;
    border:solid 1px rgba(255, 255, 255, 0.336);
    font-size: 1.1em;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    margin: 2px;
}
.btn ::before{
    content: "";
    position: absolute;
    width:0%;
    height: 100%;
    top:0;
    left: 0;
    border-radius: 0.5em;
    background-color:var(--color2);
    transition: 1s;
}
.btn:hover ::before{
    width:100%;
}
.btn .svg{
    width: var(--dim-svg);
    height: var(--dim-svg);
    min-width: var(--dim-svg);
    min-height: var(--dim-svg);
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.btn .svg svg{
    width: 100%;
    height: 100%;
    fill:white;
}
/*footer*/
.footer{
    width: 100%;
    margin-top: 5em;
    background-image: url('z/www/img/bg/big/2.png');
    background-position: center;
    background-attachment: fixed;
    position: relative;
    border-top-left-radius: 6em 2em;
    border-top-right-radius: 6em 2em;
}
.footer .filter{
    width: 100%;
    min-height: 50vh;
    padding-top: 2em;
    /* background-image: linear-gradient(0deg,transparent,transparent,rgba(255, 255, 255, 0.671)); */
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 5em;
    padding-right: 5em;
}
.footer .list{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.8em;
    border-radius: 5px;
}
.footer .list .title{
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.849);
}
.footer .list .item{
    margin: 0.2em;
    font-size: 1em;
    color:rgba(0, 0, 0, 0.877);
    text-decoration: none;
    cursor: pointer;
}
.footer .list .item::before{
    content: "📌";
}
.footer .bottom{
    border-top: dashed 1px rgba(0, 0, 0, 0.212);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2em;
    flex-grow: 1;
    font-weight: 900;
}
@media screen and (max-width:900px) {
    .footer{
        background-image: url('z/www/img/bg/small/2.png');
        background-attachment:local;
    }
}
/*form   */
.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.form .img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(223, 142, 243, 0.486);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.form .img img{
    height: 17vw;
}
.form .img::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image: linear-gradient(60deg ,transparent,rgba(0, 0, 0, 0.26));
}
.form .data{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 1em;
    border: solid 1px rgba(0, 0, 0, 0.048);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.164); */
    border-radius: 1em;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.025);
}
.form .data .title{
    font-size: 2.2em;
    text-align: center;
    font-weight: 700;
}
.form .data .note{
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}
.form .data .input{
    font-size: 1em;
    border:none;
    margin-top: 0.2em;
    margin-bottom: 0.8em;
    padding: 0.5em;
    border-bottom: solid 1px rgba(0, 0, 0, 0.295);
    background-color: transparent;
}
.form .data .submit{
    margin-top: 1em;
}
/*h2*/
.h2{
    font-size: 2em;
    font-weight: 700;
    color:var(--color1);
    text-shadow: 0 0 5px rgb(155, 211, 248);
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*loading*/
.loading{
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(75, 170, 248, 0.849);
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    transform: scale(1);
}
.loading .img{
    height: 3em;
    animation: bounce1 2s infinite;
}
.loading .text{
    color:black;
    font-weight: 900;
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    /* background-color: black; */
    padding: 0.5em;
    border-radius: 5px;
}
/*menuBtn*/
.menuBtn{
    margin-top: 1em;
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    background-color: rgba(0, 0, 0, 0.034);
}
/* navbar */
.navbar{
    width:100%;
    background-color: white;
    display: flex;
}
.navbar .logo{
    font-weight: 800;
    font-size: 1.2em;
    padding: 1em;
}
.navbar .option{
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.navbar .option:hover{
    background-color:rgba(0, 0, 0, 0.040) ;
}
.navbar .hidden{
    display: none;
}
.navbar .crown{
   height: 2em;
   width: 2.4em;
}
.navbar .left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 1em;
    padding-left: 1em;
}
.navbar .left .img{
    height: 2em;
}
.navbar_open{
    display:none;
}
@media screen and (max-width:900px) {
    .navbar.hidden{
        left:100%;
    }
    .navbar{
        position: fixed;
        left:0%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--color1);
        color:white;
        padding: 1em;
        height: 100vh;
        z-index: 1000;
        transition: 0.3s;
    }
    .navbar .logo{
        font-size: 1.8em;
        text-shadow: 5px 5px 2px rgba(255, 255, 255, 0.445);
    }
    .navbar .option{
        justify-content: flex-start;
        width: auto;
        padding: 1em;
        color:white;
    }
    .navbar .option:hover{
        background-color:rgba(0, 0, 0, 0.090) ;
      }
    .navbar .left{
        flex-grow: 0;
        padding: 1em;
    }
    .navbar .hidden{
        display: flex;
    }
    .navbar_open{
        display:flex;
        justify-content: flex-end;
        background-color: transparent;
    }
    .navbar_open_btn{
        background-color: white;
        border: none;
        font-size: 1.2em;
        padding: 0.5em;
    }
    .navbar_open_btn .svg{
        width: var(--dim-svg);
        height: var(--dim-svg);
        min-width: var(--dim-svg);
        min-height: var(--dim-svg);
    }
    .navbar_open_btn .svg svg{
        width: 100%;
        height: 100%;
        fill:var(--color1);
    }
}
/**/
.space{
    margin: 0.5em;
}
