/* flex_direction_wrap_justifiContent_alignItems
'row'='r'
'row-reverse'='rr'
'column'='c'
'column-reverse'='cr'

'wrap'='w'
'nowrap'='nw'

'center'='c'
'space-between'='sb'
'space-around'='sa'
'stretch'='s'
'flex-end'='end'
'flex-start'='start'
*/
/*1*/
.flex_r_w_c_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*2*/
.flex_r_w_c_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

/*3*/
.flex_r_w_c_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}

/*4*/
.flex_r_w_c_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/*5*/
.flex_r_w_c_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

/*6*/
.flex_r_w_c_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*7*/
.flex_r_w_sb_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*8*/
.flex_r_w_sb_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

/*9*/
.flex_r_w_sb_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
}

/*10*/
.flex_r_w_sb_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/*11*/
.flex_r_w_sb_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*12*/
.flex_r_w_sb_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*13*/
.flex_r_w_sa_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*14*/
.flex_r_w_sa_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

/*15*/
.flex_r_w_sa_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

/*16*/
.flex_r_w_sa_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/*17*/
.flex_r_w_sa_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*18*/
.flex_r_w_sa_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*19*/
.flex_r_w_s_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

/*20*/
.flex_r_w_s_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-between;
}

/*21*/
.flex_r_w_s_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-around;
}

/*22*/
.flex_r_w_s_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

/*23*/
.flex_r_w_s_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*24*/
.flex_r_w_s_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*25*/
.flex_r_w_end_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/*26*/
.flex_r_w_end_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*27*/
.flex_r_w_end_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*28*/
.flex_r_w_end_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*29*/
.flex_r_w_end_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*30*/
.flex_r_w_end_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*31*/
.flex_r_w_start_c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/*32*/
.flex_r_w_start_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*33*/
.flex_r_w_start_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*34*/
.flex_r_w_start_s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*35*/
.flex_r_w_start_end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*36*/
.flex_r_w_start_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*37*/
.flex_r_nw_c_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*38*/
.flex_r_nw_c_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
}

/*39*/
.flex_r_nw_c_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-around;
}

/*40*/
.flex_r_nw_c_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

/*41*/
.flex_r_nw_c_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*42*/
.flex_r_nw_c_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

/*43*/
.flex_r_nw_sb_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*44*/
.flex_r_nw_sb_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

/*45*/
.flex_r_nw_sb_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-around;
}

/*46*/
.flex_r_nw_sb_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/*47*/
.flex_r_nw_sb_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*48*/
.flex_r_nw_sb_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*49*/
.flex_r_nw_sa_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*50*/
.flex_r_nw_sa_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-between;
}

/*51*/
.flex_r_nw_sa_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around;
}

/*52*/
.flex_r_nw_sa_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

/*53*/
.flex_r_nw_sa_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*54*/
.flex_r_nw_sa_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*55*/
.flex_r_nw_s_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

/*56*/
.flex_r_nw_s_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-between;
}

/*57*/
.flex_r_nw_s_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-around;
}

/*58*/
.flex_r_nw_s_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
}

/*59*/
.flex_r_nw_s_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*60*/
.flex_r_nw_s_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*61*/
.flex_r_nw_end_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

/*62*/
.flex_r_nw_end_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*63*/
.flex_r_nw_end_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*64*/
.flex_r_nw_end_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*65*/
.flex_r_nw_end_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*66*/
.flex_r_nw_end_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*67*/
.flex_r_nw_start_c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*68*/
.flex_r_nw_start_sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*69*/
.flex_r_nw_start_sa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*70*/
.flex_r_nw_start_s {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*71*/
.flex_r_nw_start_end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*72*/
.flex_r_nw_start_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*73*/
.flex_rr_w_c_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*74*/
.flex_rr_w_c_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

/*75*/
.flex_rr_w_c_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}

/*76*/
.flex_rr_w_c_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/*77*/
.flex_rr_w_c_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

/*78*/
.flex_rr_w_c_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*79*/
.flex_rr_w_sb_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*80*/
.flex_rr_w_sb_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

/*81*/
.flex_rr_w_sb_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
}

/*82*/
.flex_rr_w_sb_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/*83*/
.flex_rr_w_sb_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*84*/
.flex_rr_w_sb_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*85*/
.flex_rr_w_sa_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*86*/
.flex_rr_w_sa_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

/*87*/
.flex_rr_w_sa_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

/*88*/
.flex_rr_w_sa_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/*89*/
.flex_rr_w_sa_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*90*/
.flex_rr_w_sa_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*91*/
.flex_rr_w_s_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

/*92*/
.flex_rr_w_s_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-between;
}

/*93*/
.flex_rr_w_s_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-around;
}

/*94*/
.flex_rr_w_s_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

/*95*/
.flex_rr_w_s_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*96*/
.flex_rr_w_s_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*97*/
.flex_rr_w_end_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/*98*/
.flex_rr_w_end_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*99*/
.flex_rr_w_end_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*100*/
.flex_rr_w_end_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*101*/
.flex_rr_w_end_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*102*/
.flex_rr_w_end_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*103*/
.flex_rr_w_start_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/*104*/
.flex_rr_w_start_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*105*/
.flex_rr_w_start_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*106*/
.flex_rr_w_start_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*107*/
.flex_rr_w_start_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*108*/
.flex_rr_w_start_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*109*/
.flex_rr_nw_c_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*110*/
.flex_rr_nw_c_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
}

/*111*/
.flex_rr_nw_c_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-around;
}

/*112*/
.flex_rr_nw_c_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

/*113*/
.flex_rr_nw_c_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*114*/
.flex_rr_nw_c_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

/*115*/
.flex_rr_nw_sb_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*116*/
.flex_rr_nw_sb_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

/*117*/
.flex_rr_nw_sb_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-around;
}

/*118*/
.flex_rr_nw_sb_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/*119*/
.flex_rr_nw_sb_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*120*/
.flex_rr_nw_sb_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*121*/
.flex_rr_nw_sa_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*122*/
.flex_rr_nw_sa_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-between;
}

/*123*/
.flex_rr_nw_sa_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around;
}

/*124*/
.flex_rr_nw_sa_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

/*125*/
.flex_rr_nw_sa_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*126*/
.flex_rr_nw_sa_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*127*/
.flex_rr_nw_s_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

/*128*/
.flex_rr_nw_s_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-between;
}

/*129*/
.flex_rr_nw_s_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-around;
}

/*130*/
.flex_rr_nw_s_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
}

/*131*/
.flex_rr_nw_s_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*132*/
.flex_rr_nw_s_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*133*/
.flex_rr_nw_end_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

/*134*/
.flex_rr_nw_end_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*135*/
.flex_rr_nw_end_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*136*/
.flex_rr_nw_end_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*137*/
.flex_rr_nw_end_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*138*/
.flex_rr_nw_end_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*139*/
.flex_rr_nw_start_c {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*140*/
.flex_rr_nw_start_sb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*141*/
.flex_rr_nw_start_sa {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*142*/
.flex_rr_nw_start_s {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*143*/
.flex_rr_nw_start_end {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*144*/
.flex_rr_nw_start_start {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*145*/
.flex_c_w_c_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*146*/
.flex_c_w_c_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

/*147*/
.flex_c_w_c_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}

/*148*/
.flex_c_w_c_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/*149*/
.flex_c_w_c_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

/*150*/
.flex_c_w_c_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*151*/
.flex_c_w_sb_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*152*/
.flex_c_w_sb_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

/*153*/
.flex_c_w_sb_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
}

/*154*/
.flex_c_w_sb_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/*155*/
.flex_c_w_sb_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*156*/
.flex_c_w_sb_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*157*/
.flex_c_w_sa_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*158*/
.flex_c_w_sa_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

/*159*/
.flex_c_w_sa_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

/*160*/
.flex_c_w_sa_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/*161*/
.flex_c_w_sa_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*162*/
.flex_c_w_sa_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*163*/
.flex_c_w_s_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

/*164*/
.flex_c_w_s_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-between;
}

/*165*/
.flex_c_w_s_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-around;
}

/*166*/
.flex_c_w_s_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

/*167*/
.flex_c_w_s_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*168*/
.flex_c_w_s_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*169*/
.flex_c_w_end_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/*170*/
.flex_c_w_end_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*171*/
.flex_c_w_end_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*172*/
.flex_c_w_end_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*173*/
.flex_c_w_end_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*174*/
.flex_c_w_end_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*175*/
.flex_c_w_start_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/*176*/
.flex_c_w_start_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*177*/
.flex_c_w_start_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*178*/
.flex_c_w_start_s {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*179*/
.flex_c_w_start_end {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*180*/
.flex_c_w_start_start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*181*/
.flex_c_nw_c_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*182*/
.flex_c_nw_c_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
}

/*183*/
.flex_c_nw_c_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-around;
}

/*184*/
.flex_c_nw_c_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

/*185*/
.flex_c_nw_c_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*186*/
.flex_c_nw_c_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

/*187*/
.flex_c_nw_sb_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*188*/
.flex_c_nw_sb_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

/*189*/
.flex_c_nw_sb_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-around;
}

/*190*/
.flex_c_nw_sb_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/*191*/
.flex_c_nw_sb_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*192*/
.flex_c_nw_sb_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*193*/
.flex_c_nw_sa_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*194*/
.flex_c_nw_sa_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-between;
}

/*195*/
.flex_c_nw_sa_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around;
}

/*196*/
.flex_c_nw_sa_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

/*197*/
.flex_c_nw_sa_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*198*/
.flex_c_nw_sa_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*199*/
.flex_c_nw_s_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

/*200*/
.flex_c_nw_s_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-between;
}

/*201*/
.flex_c_nw_s_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-around;
}

/*202*/
.flex_c_nw_s_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
}

/*203*/
.flex_c_nw_s_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*204*/
.flex_c_nw_s_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*205*/
.flex_c_nw_end_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

/*206*/
.flex_c_nw_end_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*207*/
.flex_c_nw_end_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*208*/
.flex_c_nw_end_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*209*/
.flex_c_nw_end_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*210*/
.flex_c_nw_end_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*211*/
.flex_c_nw_start_c {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*212*/
.flex_c_nw_start_sb {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*213*/
.flex_c_nw_start_sa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*214*/
.flex_c_nw_start_s {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*215*/
.flex_c_nw_start_end {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*216*/
.flex_c_nw_start_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*217*/
.flex_cr_w_c_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*218*/
.flex_cr_w_c_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
}

/*219*/
.flex_cr_w_c_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
}

/*220*/
.flex_cr_w_c_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

/*221*/
.flex_cr_w_c_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

/*222*/
.flex_cr_w_c_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/*223*/
.flex_cr_w_sb_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*224*/
.flex_cr_w_sb_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

/*225*/
.flex_cr_w_sb_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
}

/*226*/
.flex_cr_w_sb_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

/*227*/
.flex_cr_w_sb_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*228*/
.flex_cr_w_sb_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*229*/
.flex_cr_w_sa_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*230*/
.flex_cr_w_sa_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

/*231*/
.flex_cr_w_sa_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

/*232*/
.flex_cr_w_sa_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/*233*/
.flex_cr_w_sa_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*234*/
.flex_cr_w_sa_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*235*/
.flex_cr_w_s_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

/*236*/
.flex_cr_w_s_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-between;
}

/*237*/
.flex_cr_w_s_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: space-around;
}

/*238*/
.flex_cr_w_s_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

/*239*/
.flex_cr_w_s_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*240*/
.flex_cr_w_s_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*241*/
.flex_cr_w_end_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/*242*/
.flex_cr_w_end_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*243*/
.flex_cr_w_end_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*244*/
.flex_cr_w_end_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*245*/
.flex_cr_w_end_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*246*/
.flex_cr_w_end_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*247*/
.flex_cr_w_start_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/*248*/
.flex_cr_w_start_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*249*/
.flex_cr_w_start_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*250*/
.flex_cr_w_start_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*251*/
.flex_cr_w_start_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*252*/
.flex_cr_w_start_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*253*/
.flex_cr_nw_c_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*254*/
.flex_cr_nw_c_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
}

/*255*/
.flex_cr_nw_c_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-around;
}

/*256*/
.flex_cr_nw_c_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

/*257*/
.flex_cr_nw_c_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

/*258*/
.flex_cr_nw_c_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

/*259*/
.flex_cr_nw_sb_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*260*/
.flex_cr_nw_sb_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

/*261*/
.flex_cr_nw_sb_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-around;
}

/*262*/
.flex_cr_nw_sb_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/*263*/
.flex_cr_nw_sb_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*264*/
.flex_cr_nw_sb_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

/*265*/
.flex_cr_nw_sa_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*266*/
.flex_cr_nw_sa_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-between;
}

/*267*/
.flex_cr_nw_sa_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: space-around;
}

/*268*/
.flex_cr_nw_sa_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

/*269*/
.flex_cr_nw_sa_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/*270*/
.flex_cr_nw_sa_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*271*/
.flex_cr_nw_s_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}

/*272*/
.flex_cr_nw_s_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-between;
}

/*273*/
.flex_cr_nw_s_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: space-around;
}

/*274*/
.flex_cr_nw_s_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
}

/*275*/
.flex_cr_nw_s_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-end;
}

/*276*/
.flex_cr_nw_s_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: flex-start;
}

/*277*/
.flex_cr_nw_end_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

/*278*/
.flex_cr_nw_end_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-between;
}

/*279*/
.flex_cr_nw_end_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: space-around;
}

/*280*/
.flex_cr_nw_end_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

/*281*/
.flex_cr_nw_end_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

/*282*/
.flex_cr_nw_end_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}

/*283*/
.flex_cr_nw_start_c {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/*284*/
.flex_cr_nw_start_sb {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-between;
}

/*285*/
.flex_cr_nw_start_sa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: space-around;
}

/*286*/
.flex_cr_nw_start_s {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*287*/
.flex_cr_nw_start_end {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/*288*/
.flex_cr_nw_start_start {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}