/*
    ============ css du system =========
*/
.app___hidden{
    display:none;
    position:absolute;
    max-width: 0px;
    max-height: 0px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    overflow: hidden;
}
/*
    ====================================
*/

