<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="icon" href="icon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='index.css' rel='stylesheet'>
  <link href='color.css' rel='stylesheet'>
  <link href='animation.css' rel='stylesheet'>
  <link href='position.css' rel='stylesheet'>
  <link href='dim.css' rel='stylesheet'>
  <link href='base.css' rel='stylesheet'>
  <link href='objet.css' rel='stylesheet'>
  <link href='z/script/core/index.css' rel='stylesheet'>
  _css_
  <script type='text/javascript' src='param.js'></script>
  <script type='text/javascript' src='z/script/core/app.js'></script>
  <script type='text/javascript' src='z/script/core/relationComp.js'></script>
  _js_
</head>
<body>
  _html_
  <script>
    App.init();
  </script>
</body>

</html>