/* css de test */
/* =======================================
    css du system : ne pas toucher
   ===============================
*/
.test.app___hidden{
    display: none;
}
/*=========================================*/
.img_test{
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-size: 4em;
    position: fixed;
}